%script#adventure-template{:type => "text/x-handlebars-template"}
  %h1 {{title}}
  .supporters-info
    %a{:href => '#adventures/{{adventure_id}}/supporters'}
      {{supporters_count}} supporters following

  %ol.list.list_posts
    {{#each posts}}
    %li{:class => '{{type}}'}
      %table
        %tr
          %td
            {{#if author.avatar_path}}
            %img{:src => '{{author.avatar_path}}', :alt => 'author avatar'}
            {{/if}}
          %td
            .post
              %small
                %strong.list-user {{author.name}}
                %span.created-at {{created_at}}
              %p {{body}}
    {{/each}}
    %li
      %table
        %tr
          %td.vtop
            %img{:src => '{{current_user_avatar}}', :alt => 'your avatar'}
          %td
            %form#add-new-post-form
              %input{:type => 'hidden', :name => 'adventure_id', :value => '{{adventure_id}}'}
              #add-new-post-form-error-msg.error You need to write something to stay as awesome as you are now
              %textarea{:name => 'message', :placeholder => "Your awesome reply ...", :rows => "6"}
              %a.button.plus{:href => "#"} Post it!
            #add-new-post-form-success-msg.success
              = "You're one step closer. #{Silly.random_success.capitalize}!"
            
            {{#if current_user_can_ping}}
            %form#ping-adventure-form
              %input{:type => 'hidden', :name => 'adventure_id', :value => '{{adventure_id}}'}
              %a.button{:href => "#"} Ping it!
            #ping-adventure-form-success-msg.success
              = "Everyone will thank you later. #{Silly.random_success.capitalize}!"
            {{/if}}

            

