%script#adventures-list-item-template{:type => "text/x-handlebars-template"}
  %li
    %table
      %tr
        %td
          %a.list_action.list_user{:href => "/", :title => "User name"} User name
          %a.list_action.list_add{:href => "/", :title => "Add post"} Add post
        %td
          %a{:href => '/#/adventures/{{id}}'}
            %h2.title {{title}}
            %ol
              %li.last-activity Last activity: {{last_activity_days}} ago
              %li.active-pingers Pingers: {{active_pingers_count}}