%script#adventure-template{:type => "text/x-handlebars-template"}
  %h1 {{title}}
  %ol
    {{#each posts}}
    %li
      %img{:src => '{{author.avatar_path}}', :alt => 'author avatar'}
      .list-user {{author.name}}
      .post {{body}}
      .created-at {{created_at}}
    {{/each}}
    %li
      %a.post{:href => "/", :title => "blaaaa"}Post
