%script#adventure-template{:type => "text/x-handlebars-template"}
  %h1 {{title}}
  %ol.list.list_posts
    {{#each posts}}
    %li{:class => '{{type}}'}
      %table
        %tr
          %td
            %img{:src => '{{author.avatar_path}}', :alt => 'author avatar'}
          %td
            %div
              %small
                %strong.list-user {{author.name}}
                on
                %span.created-at {{created_at}}
                said:
            .post {{body}}
    {{/each}}

  %form#add-new-post-form
    %h2 New Post
    %div
      %input{:type => 'hidden', :name => 'adventure_id', :value => '{{adventure_id}}'}
      %textarea{:name => 'message'}
      #add-new-post-form-error-msg.error You need to write something to stay so awesome are you are now
    %div
      %a.button{:href => "#"} Add Post
