%script#adventures-list-item-template{:type => "text/x-handlebars-template"}
  %li{:class => '{{status}}'}
    %a{:href => '#adventures/{{id}}'}
      %table
        %tr
          %td
            %img{:src => '{{avatar_path}}'}
          %td
            %h2.title {{title}}
            %ol
              %li.last-activity Last activity: {{last_activity_days}} ago
              %li.active-pingers Pingers: {{active_pingers_count}}
