%script#adventure-template{:type => "text/x-handlebars-template"}
  %h1 {{title}}
  %ol.list.list_posts
    {{#each posts}}
    %li
      %table
        %tr
          %td
            %img{:src => '{{author.avatar_path}}', :alt => 'author avatar'}
          %td
            .post
              %small
                %strong.list-user {{author.name}}
                on
                %span.created-at {{created_at}}
                said:
              %p {{body}}
    {{/each}}

    %li
      %table
        %tr
          %td
          %td
            %form#addNewPostForm
            %textarea{:name => 'new_post', :placeholder => "Your awesome reply ..."}
            %a.button{:href => "#"} Hit it!