%script#adventure-template{:type => "text/x-handlebars-template"}
  %h1 {{title}}
  %ol.list.list_posts
    {{#each posts}}
    %li{:class => '{{type}}'}
      %table
        %tr
          %td
            %img{:src => '{{author.avatar_path}}', :alt => 'author avatar'}
          %td
            .post
              %small
                %strong.list-user {{author.name}}
                on
                %span.created-at {{created_at}}
                said:
              %p {{body}}
    {{/each}}
    %li
      %table
        %tr
          %td
          %td
            %form#add-new-post-form
              %input{:type => 'hidden', :name => 'adventure_id', :value => '{{adventure_id}}'}
              #add-new-post-form-error-msg.error You need to write something to stay as awesome as you are now
              %textarea{:name => 'message', :placeholder => "Your awesome reply ..."}
              %a.button{:href => "#"} Hit it!
