%script#new-adventure-template{:type => "text/x-handlebars-template"}
  %h1 New adventure
  %form#add-new-adventure-form
    #add-new-adventure-form-error-msg.error You need to write something to become more awesome
    %input{:type => 'text', :name => 'title', :placeholder => "Your new awesome adventure title..."}
    %a.button{:href => "#"} Let's get started!

  #add-new-adventure-form-success-msg.success
    All good so far