%script#supporters-template{:type => "text/x-handlebars-template"}
  %h1 {{title}}
  .supporters-info supporters

  %ul
    {{#each supporters}}
    %li
      %img{:src => '{{avatar_path}}', :alt => 'supporter img'}
      .name {{name}}
    {{/each}}

  %a.button{:href => '{{invite_supporters_url}}'} add new supporters
  
