%script#supporters-template{:type => "text/x-handlebars-template"}
  %h1 {{title}}
  .supporters-info is supported by:

  %ul.supporters-list
    {{#each supporters}}
    %li
      %img.avatar{:src => '{{avatar_path}}', :alt => 'supporter img'}
    {{/each}}

  {{#if current_user_can_add_supporters}}
  %a.button{:href => '{{invite_supporters_url}}'} Add new supporters
  {{/if}}
  
