%script#supporters-template{:type => "text/x-handlebars-template"}
  %h1 {{title}}
  .supporters-info is supported by:

  %ul.supporters-list
    {{#each supporters}}
    %li
      %img{:src => '{{avatar_path}}', :alt => 'supporter img'}
    {{/each}}

  %a.button{:href => '{{invite_supporters_url}}'} Add new supporters
  
