#home-page-box
  .home
    .logo
    %h2 Make your awesomeness stronger in you

#adventure-box
#adventures-list-box
#new-adventure-box

= render 'adventure_template'
= render 'adventures_list_template'
= render 'adventures_list_item_template'
= render 'new_adventure_template'
