%ol.list
  %li
    %table
      %tr
        %td
          %a.list_action.list_user{:href => "/", :title => "#{current_user.name}" }= current_user.name
          %a.list_action.list_add{:href => "/", :title => "Add post"} Add post
        %td
          %a.show_post{:href => "/", :title => "Show post"}
            %h2 Post title
            %ol
              %li 5 days ago
              %li 9

#adventure-box
#adventures-list-box
  %ul

= render 'adventure_template'
= render 'adventures_list_template'
