%ol
  %li
    %a.user{:href => "/", :title => "User name"} User name
    %a.add_post{:href => "/", :title => "Add post"} Add post
    %a.show_post{:href => "/", :title => "Show post"}
      %h2 Post title
      %div
        %span 5 days ago
        %span 9
  %li
    %a.user{:href => "/", :title => "User name"} User name
    %a.add_post{:href => "/", :title => "Add post"} Add post
    %a.show_post{:href => "/", :title => "Show post"}
      %h2 Post title
      %div
        %span 5 days ago
        %span 9
  %li
    %a.user{:href => "/", :title => "User name"} User name
    %a.add_post{:href => "/", :title => "Add post"} Add post
    %a.show_post{:href => "/", :title => "Show post"}
      %h2 Post title
      %div
        %span 5 days ago
        %span 9

%nav.bottom
  %li
    %a{:href => "/"} My advantures
  %li
    %a{:href => "/"} I'm supporting