body {
	background: url(bg.jpg) repeat left top #333333;
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  color: $color-text;
  position: relative;
}

/* headers */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 1.2em;
  color: $color-text;
}

h1 { font-size: 2em; }
h2 { font-size: 1.4em; }
h3 { font-size: 1.3em; }
h4 { font-size: 1.1em; }

h1 {
  padding: 10px;
  text-align: center;
}

/* links */
a { color: #ffffff; text-decoration: none; }
a:visited { color: #ffffff; }
a:hover { color: #ffffff; }
a:focus, a:hover, a:active { outline: 0; }

table {
  width: 100%;
}







