body {
	background: url(bg.gif) repeat left top #3cbce1;
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  color: #ffffff;
}

/* headers */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 1.2em;
  color: $color-text;
}

h1 { font-size: 2em; }
h2 { font-size: 1.4em; }
h3 { font-size: 1.3em; }
h4 { font-size: 1.1em; }

/* links */
a { color: #ffffff; }
a:visited { color: $color-alt; }
a:hover { color: $color-alt; }
a:focus, a:hover, a:active { outline: 0; }

a {
text-decoration: none;
}
ul, li, ol {
list-style: none;
}
body {
position: relative;
}
header {
	background-color: black;
	height: 40px;
	line-height: 40px;
	position: fixed;
	font-weight: bold;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
}
header a {
	float: left;
	margin: 0 15px;
}
header .head_home {
	float: right;
}
#content {
	padding-top: 40px;
}
nav.bottom {
	background: black;
	line-height: 40px;
	height: 40px;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}
nav.bottom li {
	float: left;
	font-weight: bold;
	text-align: center;
	width: 50%;
}
nav.bottom a {
	color: #ffffff;
	text-decoration: none;
}
.list li {
	float: left;
	border-bottom: solid 1px #ffffff;
	padding: 10px;
	width: 100%;
}
.list_action {
	float: left;
	height: 40px;
	margin-right: 10px;
	width: 40px;
	background-color: #ffffff;
}
.list ol {
	clear: both;
	font-size: 11px;
}
.list h2 {
	color: #ffffff;
}
.list ol li {
	border: none;
	color: #dddddd;
	line-height: normal;
	margin: 0 20px 0 0;
	padding: 0;
}
.show_post {
	float: left;
}