.button {
  display: block;
  margin-top: 20px;
  width: 100%;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  padding: 6px 0;
  background-color: #4D90FE;
  background-image: -moz-linear-gradient(center top , #4D90FE, #4787ED);
  border: 1px solid #3079ED;
  border-radius: 4px;
  color: #FFFFFF !important;
}