.button {
  display: block;
  margin: 20px 0;
  width: 100%;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 0;
  background-color: #549a00;
  background-image: -moz-linear-gradient(center top , #67a623, #549a00);
  border: 1px solid #3b6f00;
  border-radius: 6px;
  color: #FFFFFF !important;
}

.button-small {
  @include background-image(linear-gradient(#555 0%, #000 100%)); 
  @include border-radius(5px);

  border: solid 1px #333333;
  float: left;
  height: 30px;
  line-height: 30px;
  padding: 0 7px;
  font-size: 12px;
  margin: 8px 10px 0;
}
.button.danger {
  background: red;
}

#menu-button {
  float: right;
}
