.button {
  display: block;
  margin-top: 20px;
  width: 100%;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  border: solid 1px #ffffff;
  padding: 6px 0;
  background-color: #7DBD00;
}