button, input, select, textarea {
  font-size: $font-size;
  font-family: $font-family;
  color: $color-text;
}

input[type="text"], select, textarea { 
  border: 1px solid $color-border-form;
  outline: 0;
  background: #fff;
  @include background-image(linear-gradient(#f2f2f2, #fff 15%));
  @include border-radius(4px);
  
  @include box-sizing(border-box);
  -moz-box-sizing: border-box;

  width: 100%;
}

input[type="text"], textarea {
  padding: 5px;
}

select {
  padding: 4px;
}

input[type="text"]:focus, input[type="text"]:active, select:focus, select:active {
  border-color: $color-border-form-active;
}

// validation
.list_posts div.error,
.error {
  display: none;
  background-color: #D14836;
  background-image: -moz-linear-gradient(center top , #DD4B39, #D14836);
  border: 1px solid transparent;
  color: #FFFFFF;
  margin-bottom: 10px;
  padding: 3px 10px;
  border-radius: 4px;
}