.switcher {
  @include background-image(linear-gradient(#555 0%, #000 100%)); 

  line-height: 50px;
  height: 50px;
  display: inline-block;
  width: 50%;

  li {
    float: left;
    font-weight: bold;
    text-align: center;
    width: 49%;
    border-right: solid 1px #555555;
    border-left: solid 1px #000000;
  }
  
  li:first-child {
    border-right: solid 1px #555555;
  }
  
  li:last-child {
    border-left: solid 1px #000000;
    width: 49%;
  }

  a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    text-align: center;
    white-space: nowrap;

    &.active {
      @include background-image(linear-gradient(#000 0%, #555 100%)); 
    }
  }
}