#loader {
  background: image-url('loader.gif') center center no-repeat;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 17px;
  right: 50px;
  display: none;
}

.switcher {
  @include background-image(linear-gradient(#555 0%, #000 100%));
  @include pie-clearfix;

  line-height: 50px;
  height: 50px;
  display: inline-block;
  width: 100%;

  li {
    float: left;
    font-weight: bold;
    text-align: center;
    width: 33%;
    border-right: solid 1px #000;

    &.active {
      @include background-image(linear-gradient(#000 0%, #555 100%)); 
    }
  }
  
  a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    text-align: center;
    white-space: nowrap;
    border-right: solid 1px #555;
  }

  li.right {
    float: right;
    width: auto;
  }

  .menu-button,
  .meter {
    width: 50px;
  }
  .menu-button {
    background: image-url('menu.png') center center no-repeat;
    border-right: 0;
  }
  .meter {
    background: image-url('meter-icon.png') center center no-repeat;
  }
}




.supporters-list {
  @include pie-clearfix;

  li {
    float: left;
    margin-right: 20px;
  }
}

.list_posts {
  .pinger {
    .post {
      background: #ff0;
    }
    small {
      display: none;
    }
  }
  .post p {
    clear: both;
  }
  .created-at {
    float: right;
  }
}

.menu {
  a {
    display: block;
    text-align: center;
    background: #000;
    color: #fff;
    padding: 10px 0;
  }
}






.list_posts li {
  border-bottom: none;
}

.list_posts .post {
  border-radius: 6px;
  color: #333333;
  padding: 6px 10px;
  background-color: #d7d7d7;
      background-image: -moz-linear-gradient(center top , #f1f1f1, #d7d7d7);
      border: 1px solid #C6C6C6;
}

.list_posts div.pinger 
{
background-color: #F8F8F8;
    background-image: -moz-linear-gradient(center top , #F8F8F8, #ECECEC);
    border: 1px solid #C6C6C6;
    border-radius: 4px;
}


.list {
  ol {
    clear: both;
    font-size: 12px;
    overflow: hidden;
    width: 100%;
  }

  li {
    border-bottom: solid 1px #ffffff;
  }
  
  table td {
    padding: 10px;
  }

  a {
    display: block;
  }

  small {
    font-size: 12px;
    color: #666666;
  }

  small strong {
    font-weight: bold;
  }

  li:last-child {
    border-bottom: none;
  }

  td:first-child {
    padding-left: 0;
    width: 50px;
  }

  td:last-child {
    padding-right: 0;
  }

  ol li {
    border: none;
    color: #dedede;
    line-height: normal;
    margin: 0;
    float: left;
    width: 50%;
    padding: 0;
  }
  
  .abandoned {
    opacity: 0.2;

    .last-activity { display: none; }
    .active-pingers { display: none; }
  }

}