/* colors */
$color-text: #fff; 

$color-border-form: #d7d7d7; // light grey
$color-border-form-active: #aeaeae; // darker grey

/* typography */
$font-family: Arial, sans-serif;
$font-size: 14px;
$line-height: 1.5em;