/* colors */
$color-text: #525252; // dark grey
$color-headers: #212121; // not used so far
$color-alt: #3590cf; // blue
$color-error: #c73737; // red

$color-separator: #e5e5e5; // light grey

$color-border: #d7d7d7; // light grey
$color-border-form: #d7d7d7; // light grey
$color-border-form-active: #aeaeae; // darker grey


/* typography */
$font-family: Arial, sans-serif;
$font-size: 14px;
$line-height: 1.5em;