:javascript
  window.awesomeConfig = {
    ws: {
      adventuresUrl: "#{url_for(controller: 'adventures', action: 'index')}",
      adventureUrlRoot: "#{url_for(controller: 'adventures', action: 'index')}"
    },
    forms: {
      addNewPostUrl: "#{url_for(controller: 'adventures', action: 'create_post')}",
      addNewAdventureUrl: "#{url_for(controller: 'adventures', action: 'create')}"
    }
  };
